<h1>Orders</h1>




<table class="table table-bordered table-hover">
  <thead class="table-light">
    <tr>
      <th>№</th>
      <th><%= link_to "Frame_Name", :sort => "frame_name"%> </th>
      <th>Customer</th>
      <th><%= link_to "R_M", :sort => "r_measurement"%></th>
      <th><%= link_to "L_M", :sort => "l_measurement"%></th>
      <th><%= link_to "Add_M", :sort => "add_measurement"%></th>
      <th>Kind of glasses</th>
      <th><%= link_to "Glasses type", :sort => "glasses_type"%></th>
      <th><%= link_to "Indice", :sort => "indice"%> </th>
      <th><%= link_to "D_Visit_Date", :sort => "last_d_v_date"%></th>
      <th><%= link_to "Doctor", :sort => "image_doctor_visit"%></th>
      <th><%= link_to "Return_Date", :sort => "return_date"%></th>
      <th><%= link_to "Glass_Price", :sort => "glass_price_out"%></th>
      <th><%= link_to "Amount Paid", :sort => "amount_paid"%></th>
      <th><%= link_to "Total price", :sort => "total_price"%></th>
      <th><%= link_to "Total Gain"%></th>
      <th><%= link_to "Done?", :sort => "completed"%></th>
      <th colspan="3"></th>
    </tr>
  </thead>
<%total=0%>
  <tbody>
    <% @orders.each do |order| %>
      <%
      total_gain = order.total_price - order.item.cost_in  - (order.glass_Cost_in ? order.glass_Cost_in : 0)
      total=total+total_gain
      %>
      <% if order.completed %>
      <tr  class="table-success" >
        <th scope="row"><%= link_to order.id, order %></th>
        <td><%= link_to order.item.name, order %></td>
        <td>
            <%= link_to order.customer.first_name , customer_path(order.customer) %>
            <br>
            <%= link_to order.customer.last_name , customer_path(order.customer) %>
        </td>
        <td><%= order.r_measurement %></td>
        <td><%= order.l_measurement %></td>
        <td><%= order.add_measurement %></td>
        <td><%= order.Kind_of_glasses %></td>
        <td><%= order.glasses_type %></td>
        <td><%= order.indice %></td>
        <td><%= order.last_d_v_date %></td>
        <td><%= order.image_doctor_visit %></td>
        <td><%= order.return_date %></td>
        <td><%= order.glass_price_out %></td>
        <td><%= order.amount_paid %></td>
        <td><%= order.total_price %></td>
        <td><%= total_gain %></td>
        <td><%= order.completed %></td>
        <td><%= link_to 'Edit_Order', edit_order_path(order), class:"btn btn-outline-success btn-sm" %></td>
        <td><%= link_to 'Delete', order, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-outline-danger btn-sm" %></td>
      </tr>
      <% else %>
      <tr class="table-warning">
        <th scope="row"><%= link_to order.id, order %></th>
        <td><%= link_to order.item.name, order %></td>
        <td>
            <%= link_to order.customer.first_name , customer_path(order.customer) %>
            <br>
            <%= link_to order.customer.last_name , customer_path(order.customer) %>
        </td>
        <td><%= order.r_measurement %></td>
        <td><%= order.l_measurement %></td>
        <td><%= order.add_measurement %></td>
        <td><%= order.Kind_of_glasses %></td>
        <td><%= order.glasses_type %></td>
        <td><%= order.indice %></td>
        <td><%= order.last_d_v_date %></td>
        <td><%= order.image_doctor_visit %></td>
        <td><%= order.return_date %></td>
        <td><%= order.glass_price_out %></td>
        <td><%= order.amount_paid %></td>
        <td><%= order.total_price %></td>
        <td><%= total_gain %></td>
        <td><%= order.completed %></td>
        <td><%= link_to 'Edit_Order', edit_order_path(order), class:"btn btn-outline-success btn-sm" %></td>
        <td><%= link_to 'Delete', order, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-outline-danger btn-sm" %></td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>


<div class="field for m-group col-md-4">
<p class="form-control">
<strong>Total Gain:</strong>
<%= total %><%=" DH"%>
</p>
    </div>


<br>

